.header {
    background-color: rgb(31, 33, 44);
    padding: 10px 20px;
}

.header img {
    width: 40px;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo h1 {
    color: #FB4625;
    margin-left: 10px;
}